@import "tailwindcss";

@theme {
    --color-primary: oklch(0 0 360);
    --color-background: oklch(1 0 360);
    --color-border: oklch(0.8529 0 266);
    --color-muted: oklch(0.4133 0 268.41);

    --font-inter: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
